<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Funcular.DomainTools.Applications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DomainTools.Applications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DomainTools.PocoGenerator.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Funcular.DomainTools.Applications.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="EntityNamespace" serializeAs="String">
                <value>Entities</value>
            </setting>
            <setting name="DataProviderNamespace" serializeAs="String">
                <value>Providers</value>
            </setting>
            <setting name="AppendDbSchemaToNamepaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitiesInherit" serializeAs="String">
                <value />
            </setting>
            <setting name="EntitiesImplementInterfaces" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlTextCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateFluentEFMappings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateCrmSpecificProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImplementIdGenerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneratedIdDataType" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="IdGenerationFunc" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="AdditionalCollapseTokens" serializeAs="String">
                <value>new;_</value>
            </setting>
            <setting name="UseAutomaticProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdditionalTokenFind" serializeAs="String">
                <value>Base</value>
            </setting>
            <setting name="AdditionalTokenReplace" serializeAs="String">
                <value>ExtensionBase</value>
            </setting>
            <setting name="PrimaryKeyGetsNamedId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Usings" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityAttributes" serializeAs="String">
                <value />
            </setting>
            <setting name="MappingAttributes" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseNamespace" serializeAs="String">
                <value>Company.Solution</value>
            </setting>
            <setting name="ProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AddColumnNameAttributes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateInheritingBusinessObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveDboFromOutputFolderPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitySuffix" serializeAs="String">
                <value>Entity</value>
            </setting>
            <setting name="EntitiesSubdirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BusinessObjectsSubdirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BusinessObjectsNamespace" serializeAs="String">
                <value />
            </setting>
        </Funcular.DomainTools.Applications.Properties.Settings>
        <DomainTools.Applications.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="EntityNamespace" serializeAs="String">
                <value>Entities</value>
            </setting>
            <setting name="DataProviderNamespace" serializeAs="String">
                <value>Providers</value>
            </setting>
            <setting name="AppendDbSchemaToNamepaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitiesInherit" serializeAs="String">
                <value />
            </setting>
            <setting name="EntitiesImplementInterfaces" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlTextCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateFluentEFMappings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateCrmSpecificProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImplementIdGenerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneratedIdDataType" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="IdGenerationFunc" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="AdditionalCollapseTokens" serializeAs="String">
                <value>new;_</value>
            </setting>
            <setting name="UseAutomaticProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdditionalTokenFind" serializeAs="String">
                <value>Base</value>
            </setting>
            <setting name="AdditionalTokenReplace" serializeAs="String">
                <value>ExtensionBase</value>
            </setting>
            <setting name="PrimaryKeyGetsNamedId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Usings" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityAttributes" serializeAs="String">
                <value />
            </setting>
            <setting name="MappingAttributes" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseNamespace" serializeAs="String">
                <value>Company.Solution</value>
            </setting>
            <setting name="ProjectFile" serializeAs="String">
                <value />
            </setting>
        </DomainTools.Applications.Properties.Settings>
        <DomainTools.PocoGenerator.UI.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="SqlConnectionString" serializeAs="String">
                <value>Data Source=.;Initial Catalog=MyDatabase;Integrated Security=True</value>
            </setting>
            <setting name="BaseNamespace" serializeAs="String">
                <value>JointCommission</value>
            </setting>
            <setting name="EntityNamespace" serializeAs="String">
                <value>Entities</value>
            </setting>
            <setting name="DataProviderNamespace" serializeAs="String">
                <value>Providers</value>
            </setting>
            <setting name="AppendDbSchemaToNamepaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitiesInherit" serializeAs="String">
                <value/>
            </setting>
            <setting name="EntitiesImplementInterfaces" serializeAs="String">
                <value/>
            </setting>
            <setting name="SqlTextCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="GenerateFluentEFMappings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateCrmSpecificProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImplementIdGenerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneratedIdDataType" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="IdGenerationFunc" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="SavedConnectionStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Data Source=.;Initial Catalog=MyDatabase;Integrated Security=True;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AdditionalCollapseTokens" serializeAs="String">
                <value>new;_</value>
            </setting>
            <setting name="UseAutomaticProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdditionalTokenFind" serializeAs="String">
                <value>Base</value>
            </setting>
            <setting name="AdditionalTokenReplace" serializeAs="String">
                <value>ExtensionBase</value>
            </setting>
        </DomainTools.PocoGenerator.UI.Properties.Settings>
    </userSettings>
</configuration>
